.sidebar-all {
	background-color: #ADFF2F;
}

.sidebar-all:hover {
	background-color: rgb(148, 221, 39);
}

.sidebar-course {
	background-color: lightgray;
}

.sidebar-course:hover {
	background-color: rgb(184, 183, 183);
}

.sidebar-subject {
	background-color: white;
}

.sidebar-subject:hover {
	background-color: rgb(195, 195, 195);
}
