version: '2.4'
services:
    db:
        container_name: notesDatabase
        environment: 
            POSTGRES_DB: ${DB_DATABASE}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
            POSTGRES_USER: ${DB_USER}
        image: postgres:9.6-alpine
        mem_limit: 32M
        ports:
            - ${DB_PORT}:5432
    notes:
        container_name: notes
        build: .
        environment: 
            NODE_ENV: production
            DB_ADDRESS: db
            DB_DATABASE: ${DB_DATABASE}
            DB_PASSWORD: ${DB_PASSWORD}
            DB_USER: ${DB_USER}
            DB_PORT: ${DB_PORT}
            SECRET: ${SECRET}
        depends_on:
            - db
        ports:
            - ${MAIN_PORT}:4000
