version: '2.4'
services:
    db:
        environment: 
            POSTGRES_DB: ${DB_DATABASE}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
            POSTGRES_USER: ${DB_USER}
        image: postgres:9.6-alpine
        mem_limit: 32M
        ports:
            - 5432:5432
