#root {
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-columns: fit-content(20vw) 1fr;
	grid-template-rows: 1fr 20fr;
	grid-template-areas:
		"h h"
		"m c";
}

.NoteListContainer {
	padding: 0.5vw;
	display: grid;
	grid-gap: 0.5vw;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 15vh;
}